* {
    margin: 0;
}

body {
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
}

.bg-gg {
    background-color: #AB8B64;
    color: white;
}

.bg-gg:hover {
    background-color: white;
    color: #AB8B64;
}

#icon-book {
    width: 20px;
    float: left;
}

#author-icon {
    width: 20px;
    float: left;
}

#categories-icon {
    width: 20px;
    float: left;
}

#welcome {
    color: white;
    /* font-size:xx-large; */
    font-style: normal;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

#backgIMG {
    width: 100%;
    height: 100%;
    float: both;
    position: fixed;
}

#span1 {
    color: rgb(227, 227, 113);

}

#span2 {
    color: rgb(185, 150, 24);

}

#line {
    margin-top: 0;
    color: black;
}

.card :hover {
    transition: 1s;
    cursor: pointer;
    background-color: #f9be75;
    box-shadow: #18f5c9;
}