#span1{
    color: rgb(227, 227, 113);
  
}
#span2{
    color: rgb(185, 150, 24);
  
}
.bg-gg{
    background-color:#AB8B64;
    color: white;
    margin:2px;
}
.bg-gg:hover{
    background-color:white;
    color: #AB8B64;
}
.nav-item .nav-link{
    position: sticky;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: large;
    font-style: normal;
    font-weight:bold;
}
.nav-item .nav-link:hover{
    transition: 1s;
    color: #f9be75;
}

.logo{     /*User Photo and Logo photo */
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.backColor{     /*Navbar Background*/
    background-color: #9b6e56;
    /* position: fixed; */
    width: 100%;
}
.fontSize{      /*logout icon size*/ 
    font-size: 35px;
}

.searchBar{
    border: 4px solid #979490;
    border-radius: 30px;
    font-size: 25px;
}
.searchBtn{
    border: 3px solid #979490;
    border-radius: 20px;
    font-size: 25px;
}
.searchBtn:hover{
    background-color: #979490;
    color: white;
}
.fa-regular{
    margin-top: 12px;
}

