
<nav class="navbar navbar-expand-lg backColor">
  <div class="w-100 d-flex justify-content-between">
    <div class=" d-flex justify-content-between">
      <a class="navbar-brand" [routerLink]="''"><img src="../../assets/msg704385414-285121.jpg" alt="" class="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a  class="nav-link  text-light" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a *ngIf="islogin" class="nav-link  text-light" routerLink="/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a *ngIf="islogin" class="nav-link  text-light" [routerLink]="'/books'">Books</a>
          </li>
          <li class="nav-item">
            <a *ngIf="islogin" class="nav-link  text-light" [routerLink]='"/authors"'>Authors</a>
          </li>
        </ul>
      </div>
    </div>

    <div class=" d-flex justify-content align-items-center">
      <div class="row">
        <div class="col">
          <div class="w-100 d-flex justify-content align-items-center">
            <img *ngIf="islogin" class="logo mx-3 " src="../../assets//msg704385414-278576.jpg" />
            <a *ngIf="islogin" routerLink="all" class="text-light text-decoration-none ">Mohammed Dghar</a>
          </div>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <i *ngIf="!islogin" class="fa-regular fa-user text-light "></i>
        </li>
        <li class="nav-item">
          <a *ngIf="!islogin" class="nav-link  text-light" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!islogin" class="nav-link  text-light" routerLink="signup">sign up</a>
        </li>
        <li class="nav-item">
          <a *ngIf="islogin" routerLink="logout" (click)="isLogOut()"><i
              class="fontSize mx-3 text-light fa-solid fa-right-from-bracket"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="continer-fluid d-flex justify-content-center mt-3">
  
  <input type="text" class="w-50 searchBar" placeholder="Search">
  <div class="input-group-append">
    <button class="btn searchBtn" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
   
  </div>
</div> -->