<div class="container d-flex justify-content-center mt-5">
    <div class="row">
        <div class="col">
            <p class="text-danger fontSize">404</p>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <p class="text-danger fontSize">Page Not Found  <i class="fa-regular fa-face-frown"></i></p>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <a [routerLink]="''" class="btn btn-primary btnFont"> Back Home</a>
        </div>

    </div>
</div>