<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <div class="carousel-inner py-4">
        <div class="carousel-item active">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-3 ">
                        <div class="card  ">
                            <img src="../../assets/developers/gehad2.jpeg" class="card-img-top " alt="Eng-Gehad" />
                            <div class="card-body">
                                <h5 class="card-title">Gehad Hashim</h5>
                                <h6>MEAN Stack Developer</h6>
                                <a href="https://www.linkedin.com/in/gehad-elshareef-952195193/"><img width="20%"
                                        src="../../assets/download.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card  ">
                            <img src="../../assets/developers/yara2.jpeg" class="card-img-top" alt="Eng-Yara" />
                            <div class="card-body">
                                <h5 class="card-title">Yara Essam</h5>
                                <h6>MEAN Stack Developer</h6>
                                <a href="https://www.linkedin.com/in/yara-essam-34798b205/"><img width="20%"
                                        src="../../assets/download.png"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card  ">
                            <img src="../../assets/developers/WhatsApp Image 2023-03-30 at 23.51.27.jpeg"
                                class="card-img-top" alt="Eng-Nora" />
                            <div class="card-body">
                                <h5 class="card-title">Nour Mohammed</h5>
                                <h6>MEAN Stack Developer</h6>
                                <a href="https://www.linkedin.com/in/nora-mohammed-011586245/"><img width="20%"
                                        src="../../assets/download.png"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card ">
                            <img src="../../assets/developers/Dghar2.jpeg" class="card-img-top" alt="Eng-Dghar" />
                            <div class="card-body">
                                <h5 class="card-title">Mohammed Aldghar</h5>
                                <h6>MEAN Stack Developer</h6>
                                <a href="https://www.linkedin.com/in/mohammed-aldghar-954748217/"><img width="20%"
                                        src="../../assets/download.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>